.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.profileImage {
  height: 100%;
  width: 100%;
  position: relative;
  border-top-left-radius: 10%;
  border: 5px solid var(--WhiteColor);
}

.cardBody {
  margin-bottom: 0;
}

.card:hover {
  cursor: pointer;
}

.navbar,
.navbar-brand {
  font-size: 25px;
  padding: 1vh;
}
.bgimg {
  background-image: url("images/back.jpeg");
  background-size: cover;
  position: relative;
  height: 115vh;
}

.bgimg:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--BlackColor);
  opacity: 0.7;
}

.aboutImageCard {
  height: 100%;
  border-top-left-radius: 10%;
  background: var(--GrayTransperent);
}
.aboutTextCard {
  height: 100%;
  border-bottom-right-radius: 10%;
  background: var(--GrayTransperent);
}

.fab {
  padding: 4%;
}

.sectionHeading {
  font-size: 3vh;
  background: var(--GreenTheme);
  padding: 10px 20px;
  color: var(--WhiteColor);
}

.formButton {
  width: 100%;
}

label {
  color: var(--GreenThemeText);
}

.nav-link.active {
  color: var(--GreenThemeText) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--GreenThemeText);
  background-color: var(--GreenThemeLight);
}

.accordion-button:focus {
  border-color: var(--GreenThemeText);
  box-shadow: none;
}

#formButtonSubmit {
  background-color: var(--GreenTheme);
  color: var(--WhiteColor);
}

.cardClickOpenModal:hover {
  animation: shake 0.4s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
}

.ButtonScrollToTop {
  display: none;
  position: fixed;
  bottom: 12%;
  right: 5%;
  width: 60px;
  height: 60px;
  color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--GreenTheme);
}

.ButtonScrollToTop:hover {
  background-color: var(--GreenThemeDark);
}

.fabIcon {
  padding: 0;
  padding-right: 10%;
}

.card-title {
  color: var(--GreenThemeText);
}
